
$background: hsl(210, 45, 10);

.soc {
  display: block;
  font-size: 0;
  list-style: none;
  margin: 0;
  background: rgba(0, 0, 0, 0.92) !important;
  // padding: 48px; // IE8;
  // padding: 2.8rem;
  text-align: center;
  li {
    display: inline-block;
    margin: 12px; // IE8;
    margin: 1.2rem;
  }
  li.sms-share {
    vertical-align: top;
    color: $white;
    font-size: 12px;
    padding-top: 6px;
    height: 30px;
    border-radius: 15px;
    transition: all .2s ease-in-out;
    @media only screen and (min-width: 481px) {
      display: none;
    }
    &:hover {
        background: #217d09;
        transform: scale(1.2);
    }

    a {
      color: #217d09;
      &:hover {
        color: $white;
      }
    }
  }
  li.permalink-share {
    vertical-align: top;
    color: $white;
    font-size: 12px;
    padding-top: 6px;
    height: 30px;
    border-radius: 15px;
    transition: all .2s ease-in-out;
    svg {
      height: 20px;
    }
    &:hover {
      background: $white;
      transform: scale(1.2);
      svg {
        path {
          fill: $black;
        }
      } 
    }
  }
   
  a, svg {
    display: block;
  }

  a {
    position: relative; // IE8
    height: 30px; // IE8
    height: 3.0rem;
    width: 30px; // IE8
    width: 3.0rem;
  }

  svg {
    height: 100%;
    width: 100%;
  }

  // IE8:
  em {
    font-size: 14px;
    line-height: 1.5;
    margin-top: -.75em;
    position: absolute;
    text-align: center;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .facebook {
    fill: $facebook;
  }

  .icon-10 {
    &:hover {
      background: $facebook;
    }  
  }  

  .twitter {
    fill: $twitter;
  }

  .icon-26 {
    &:hover {
      background: $twitter;
    }
  }

  .tumblr {
    fill: $tumblr;
  }

  .icon-25 {
    &:hover {
      background: $tumblr;
    }
  }

  .pinterest {
    fill: $pinterest;
  }

  .icon-20 {
    &:hover {
      background: $pinterest;
    }
  }

  .linkedin {
    fill: $linkedin;
  }

  .icon-17 {
    &:hover {
      background: $linkedin;
    }
  }

  .googleplus {
    fill: $googleplus;
  }

  .icon-14 {
    &:hover {
      background: $googleplus;
    }
  }

  .email {
    fill: $email;
  }

  .icon-8 {
    &:hover {
      background: $email;
    }
  }

  .share-link {
    
  }
}
  
.permalink-input {
  display: none;
  text-align: center;
  margin: 0 auto;
  width: 250px;
  input {
    color: $white;
    background: #181818;
    &:focus {
      color: $white;
      background: #181818;
    }
  }
}

// Using placeholder selectors and @extend (keeps output CSS lean) instead of [class*='icon-'] attribute selector because IE8 doesn't support it :<

%social-icon-hover {
  border-radius: 100%;
  color: $background; // IE8
  fill: $background;
  transform: scale(1.25);
  transition: background-color .5s, transform .5s ease-out;
}

// Neat color trick, <3 Sass
@for $i from 1 through 30 {

  .icon-#{$i} {
    color: hsl($i * 12, 70, 50); // IE8
    fill: hsl($i * 12, 70, 50);
    &:hover {
      background: hsl($i * 12, 70, 50);
      @extend %social-icon-hover;
    }
  }
}
