/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

/* Overlay nav */

.overlay-left {
    border-bottom: none;
    min-height: 70vh;
	.nav {
		li {
    		font-size: 3.6em;
    	}
	} 	
}

#home-main {
	.home-main-post {
		.home-main-post-content {
			top: 60%;
		}
	}
}



.overlay {
	.overlay-fam {
		margin-top: 10%;
		li {
			max-width: 150px;
			padding-right: 40px;
		}
		svg {
			max-width: 150px;
		}
	}

	.overlay-right {
		h5.first-right-header {
			border-top: none;
			margin-top: 0px;
			padding-top: 0px;
		}
		.overlay-right-menu {
			max-width: 80%;
		}
	}
}
