/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html, body {
    height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: $lato;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $black;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar { 
    display: none; 
}


/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
body.page-template-page-archive, body.archive, body.search {
	background: $white;
	color: $black;
	a {
		color: $black;
	}
	h1 {
		font-size: 2.0em;
		margin-bottom: 30px;
	}
	#inner-header {
		background: $white;
	}
	.loop-archive {
		.archive-thumb {
			display: inline-block;
			width: 100%;
			.cube-container {
				// height: 100%;
				// width: 100%;
				// background-position: center center;
				background-size: 100% 100%;
			}
			img {
				width: 100%;
			}
		}
		a {
			color: $black;
			&:hover {
				color: $yellow;
			}
		}
		h4 {
			font-size: 1.3em;
			letter-spacing: 1px;
			font-family: $header-serif;
			text-transform: uppercase;
		}
		.type-post {
			span {
				color: $yellow;
				font-family: $header-sans-serif;
				font-size: 1.2em;
				letter-spacing: 2px;
				text-transform: uppercase;
			}
		}
		p {
			color: $dark-gray;
		}
	}
	h1.page-title, h1.archive-title {
		text-align: center;
		font-family: $header-serif;
		letter-spacing: 2px;
		color: $yellow;
		text-transform: uppercase;
	}
	.post {
		img {
			width: 100%;
		}
		span {
			font-style: normal;
		}
		h4 {
			margin-top: 25px;
		}
		.entry-content {
			padding: 0 0 0 0;
		}
	}
	.footer {
		display: none;
	}
}
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;
	text-decoration: none;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
		text-decoration: none;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 2.4em;
	line-height: 1.0em;
	margin-bottom: 0em;
	font-family: $header-serif;
	text-transform: uppercase;
	letter-spacing: 6px;
	max-width: 400px;
	color: #fff;
}

h3, .h3 {
	font-size: 2.0em;
	color: $yellow;
	text-transform: uppercase;
	font-family: $header-sans-serif;
	letter-spacing: 4px;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

h6 {
	text-transform: uppercase;
	font-family: $header-sans-serif;
	letter-spacing: 4px;
	font-size: 1.6em;
}
/*********************
HEADER STYLES
*********************/

.header {
	background-color: transparent;
	z-index: 300;
    position: fixed;
    width: 100%;
    top: 0;

    .header-logo {
    	a {
    		color: $white;
    		text-decoration: none;
    		font-size: 2.0em;
    		span.divider {
    			padding: 0 10px;
    		}
    	}
    }

    .inner-header {
    	z-index: 100;
    	position: relative;
    }
}

	#logo {
		margin: 0.75em 0;

		a {
			color: $white;
		}
	}

	.company-logo, .company-logo-menu {
		max-width: 100%;
		width: 175px;
	}

	.company-logo {
		margin: 25px 15px;
	}
	.company-logo-menu {
		margin: 25px 0px;
	}

	.menu-toggle, .menu-toggle-menu {
		text-align: center;
		padding-top: 25px;
		// position: relative;
		// z-index: 400;
	}

	.search-button, .search-button-menu {
		text-align: right;
		padding-top: 25px;
	}

	.search-button {
		padding-right: 25px;
		cursor: pointer;
	}

	.search-button-menu {
		padding-right: 10px;
	}

#search-bar {
	display: none;	
	z-index: 200;
	height: 100px;
	width: 100%;
	position: fixed;
	top: 65px;
    .screen-reader-text {
    	display: none;
    }
    #searchsubmit {
    	display: none;
    }
    input {
		border-radius: 0px;
		background: transparent;
		border: none;
		color: $gray;
		&:focus {
			background: rgba(0,0,0,0.8);
		}
    }
    input[type="search"] {
    	min-width: 100%;
    }
}
/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {
		letter-spacing: 2px;
		margin-bottom: 10px;

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {
				text-decoration: none;
			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */

.overlay {
	display:none;
	position:fixed;
	top:0;
	height:100%;
	width:100%;
	background: rgba(255, 255, 255, 0.9);
	overflow:auto;
	z-index:99;
	right: 0;
	padding: 0 15px; 
	.overlay-menus {
	    margin-top: 50px;
	   .overlay-left-menu, .overlay-right-menu {
	    	padding: 0 30px;
	    }
	}
	h5 {
		font-family: $header-serif;
		font-size: 2.4em;
	}
	.nav {
		li {
			font-family: $header-serif;
			font-size: 2.4em;
			display: block;
			float: none;
			text-transform: uppercase;
			color: $black;

			p {
				color: $black;
			}

			a {
				padding: 0 0 0 0;
				color: $black;
				&:hover, &:focus {
					font-style: italic;
					color: $yellow;
					text-decoration: none;
					background: transparent;
				}

			}
		}
		li.email-address {
			font-family: $header-sans-serif;
			font-size: 1.8em;
			letter-spacing: 4px;
			font-weight: 200;
			text-transform: uppercase;
		}
	}
	.overlay-fam { 
		margin-bottom: 100px;
		li {
			display: inline-block;
			position: relative;
			vertical-align: top;
			max-width: 75px;
			padding: 0 40px 15px 0px;
			&:nth-child(2) {
				padding-top: 8px;
			}
		}
		svg {
			max-width: 55px;
			path {
				fill: $black;
			}
			polygon {
				fill: $black;
			}	
			&:hover {
				path {
					fill: $yellow;
				}
				polygon {
					fill: $yellow;
				}
			}	
		}	
	}

	.overlay-right {
		h5.first-right-header {
			border-top: 1px solid $black;
			margin-top: 20px;
			padding-top: 20px;
		}
	}
}
/*********************
POSTS & CONTENT STYLES
*********************/

/* Homepage */
#home-intro-video {
	background: $black;
    min-height: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 100;
    width: 100%;

	video {
		// commented out stuff from safari debug
	    box-sizing: border-box;
	    height: 56.25vw;
	    left: 50%;
	    min-height: 100%;
	    min-width: 100%;
	    transform: translate(-50%, -50%);
	    position: absolute;
	    top: 50%;
	    width: 177.77777778vh;		
	}
}
#home-overlay {
	z-index: 100;
	height: 100vh;
	width: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
}
#home-lower-content {
	padding-bottom: 10px;
}
#home-main, #home-lower-content {
	position: relative;
	background: $black;
	z-index: 100;
	.home-main-post {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: left center;
		.home-main-post-content {
			z-index: 100;
			top: 10%;
			position: absolute;
			padding: 15px;
			margin-left: 20px;
			h2 {
				&:hover {
					color: $yellow;
				}
			}
			h3 {
				margin-bottom: 20px !important;
			}
			.post-categories {
				a {
					color: $yellow;
					opacity: 0.9;
					text-decoration: none;
					&:hover {
						opacity: 1.0;
					}
				}
			}
			
		}
	}
	p {
		color: $white;
		font-size: 1.4em;
		max-width: 400px;
	}
	h4 {
		font-size: 1.8em;
		letter-spacing: 3px;
		text-transform: uppercase;
		font-family: $header-sans-serif;
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

#home-main {
	height: 100vh;
	.home-main-post {
		background-position: center center;
	}

}

#home-post-nav {
	display: block;
	position: relative; 
	z-index: 200;
	.home-post-nav-container {
		background: $black;
		padding: 10px;
		.gif-thumb, .still-thumb {
			background-size: cover !important;
			min-height: 400px;
			background-repeat: no-repeat !important;
			background-position: center center !important;
			min-width: 100%;
    	}
	}
	ul {
		margin: 0 0;
	}
}

.top-post-container {
	position: relative;
	a {
		position: relative;
		height: 100%;
		z-index: 100;
	}
	.top-thumb-info {
	    position: relative;
	    z-index: 200;
	    width: 100%;
	    bottom: 5px;
	    margin-top: 20px;

    	h5 {
			font-family: $header-serif;
			font-size: 1.6em;
			margin-bottom: 0px;
			margin-bottom: 0px;
			line-height: 1.0em;
		}

		a.icon {
			font-family: $header-sans-serif;
			text-transform: uppercase;
			color: $yellow;
			font-size: 1.0em;
			letter-spacing: 4px;
		}
	}

}

.top-thumb {
	position: relative;
	width: 100%;
	z-index: 200;	
	opacity: 1.0;
	-webkit-transition: opacity 0.2s ease 0s;
	-moz-transition: opacity 0.2s ease 0s;
	-o-transition: opacity 0.2s ease 0s;
	transition: opacity 0.2s ease 0s;
	&:hover {
		opacity: 0.2;
	}
	img {
		width: 100%;
		height: auto;
	}
}

#home-lower-content {
	h3 {
		color: $white;
	}
	.row {
		margin-right: 0px; 
	    margin-left: 0px;
	}
	.top-thumb {
		opacity: 0.75;
		-webkit-transition: opacity 0.2s ease 0s;
		-moz-transition: opacity 0.2s ease 0s;
		-o-transition: opacity 0.2s ease 0s;
		transition: opacity 0.2s ease 0s;
		&:hover {
			opacity: 0.2;
		}
		img {
			width: 100%;
			height: auto;
		}
	}

	.popular, .featured {
		h5 {
			font-family: $header-serif;
			text-transform: uppercase;
			font-size: 1.6em;
    		letter-spacing: 2px;
		}
		.top-post-container {
			h3 {
			font-size: 1.2em;
			margin-top: 5px;
			color: $yellow !important;
			margin-bottom: 15px !important;
				a {
					color: $yellow;
				}
			}
		}
		h6 {
			margin-top: 10px;
		}
		
	}

	.view-more-btn {
		// could be weird in other browsers
		padding: 10px 10px 5px 10px;
		font-family: $header-sans-serif;
		border: 1px solid $white;
		text-transform: uppercase;
		letter-spacing: 4px; 
		font-size: 1.8em;
		max-width: 150px;
		text-align: center;
		margin: 30px auto;
		&:hover {
			color: $black;
			background: $white;
		}
	}
}

#content {
	// margin-top: -40px;
	// to account for header...might want to change
}

#main-content {
	margin-top: 100px;
}

		.hentry {
			background-color: transparent;
			border-radius: 3px;
			margin-bottom: 1.5em;
			color: $white;

			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/* Profile Main Styles */

#profile-intro-background {
	position: absolute;
	top: 0;
	height: 100vh;
	width: 100%;
	.full-image-container {
		height: 100vh;
	}
	video {
	    &::-webkit-media-controls {
	        display:none !important;
	    }

	    &::-webkit-media-controls-start-playback-button {
	        display: none!important;
	        -webkit-appearance: none;
	    }
	}
}
.profile-index {
	height: 100vh;
}

#home-intro-video {
	background: $black;
    min-height: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 100;
    width: 100%;

	
}

#profile-intro-background {
	position: absolute;
	.full-video-container {
		min-height: 100%;
	    overflow: hidden;
	    padding: 0;
	    position: absolute;
	    z-index: 100;
	    width: 100%;
		video {
		// commented out stuff from safari debug
			box-sizing: border-box;
			height: 56.25vw;
			left: 50%;
			min-height: 100%;
			min-width: 100%;
			transform: translate(-50%, -50%);
			position: absolute;
			top: 50%;
			width: 177.77777778vh;		
		}
	}
}


.profile-index, .profile-block {
	min-height: 100vh;

	.profile-intro {
		z-index: 100;
		@include vertical-align();
		.share-button-intro {
			text-align: center;
			opacity: 0.4;
			img {
				width: 15px;
				height: 15px;
			}
			&:hover {
				opacity: 1.0;
				cursor: pointer;
			}
		}
		.share-icons-intro {
			display: none;
			max-width: 460px;
			margin: 0 auto;
			background: rgba(0, 0, 0, 0.45);
			margin-top: 10px;
		}
		.soc {
			background: transparent !important;
		}
	}
	h1 {
		font-family: $header-serif;
		color: $yellow;
		letter-spacing: 3px;
		font-size: 5.0em;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 0px;
		margin-top: 0px;
	}
	h3 {
		padding: 0 15px 15px 15px;
		text-align: center;
		// font-family: $category-header;
		font-size: 1.6em;
		margin: 0 0 15px 0;
		color: $white;
	}
	.post-categories {
		
		padding: 15px;
		text-align: center;
		font-family: $category-header;
		font-size: 1.2em;
		margin: 0 0 0 0;
		a {
			color: $white;
			text-decoration: none;
			&:hover {
				color: $yellow;
			}
		}
	}
	video {
		width: 100%;
	}

	.bio-copy {

		p {
			color: $yellow;
			font-family: $bio-serif;
			max-width: 715px;
			margin: 0 auto;
			text-align: justify;
			text-justify: inter-word;
			-moz-text-align-last: right; /* Code for Firefox */
			text-align-last: center;
			letter-spacing: 2px;
			font-size: 16px;
		}	
	}
}

.profile-index-gif, .profile-index-still {
	height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
}

.full-video-container {
	min-width: 100%;
	img {
		width: 100%;
		height: auto;
	}
}

.full-image-container {
    width: 100%;
    background-size: cover;
}

.profile-block, .final-word {
	h2 {
		color: $yellow;
		font-size: 3.2em;
		letter-spacing: 2px;
		max-width: 600px;
		margin-bottom: 30px;
	}
	p {
		font-family: $body-paragraph;
		letter-spacing: 3px;
		font-size: 1.4em;
		color: $copy-gray;
		font-weight: 600;
		line-height: 2.0em;
	}
	.section-copy {
		padding: 15%;
		min-height: 100vh;
	}
}
.full-image-container {
	.full-image {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

.profile-block {
	.share-button-single {
		text-align: right;
		width: 25px;
		height: 25px;
		z-index: 100;
		margin-top: -35px;
		margin-left: 5px;
		opacity: 0.2;
	}
	.share-icons-single {
		display: none;
	}
}
.border-image-container {
	padding: 10%;
	width: 100%;
	.border-image {
		width: 100%;
		img {
			width: 100%;
		}
	}
	.image-spacing {
		margin-bottom: 30px;
	}
}

#fixed-profile-title {
	display: none;
	position: fixed;
	top: 55px;
	width: 100%;
	z-index: 200;
	
	h2 {
		text-align: center;
		color: $yellow;
		font-size: 1.6em;
		max-width: 100%;
		width: 100%;
		letter-spacing: 1px;
	}
}

#fixed-nav-arrow {
	text-align: center;
	padding: 15px;
	bottom: 40px;
	position: fixed;
	width: 100%;
	z-index: 300;
	
	img {
	  animation: blinker 3s linear infinite;
	}
	@keyframes blinker {  
	  50% { opacity: 0.2; }
	}

	&:hover {
		cursor: pointer;
	}
}

.final-block {
	.final-word {
		margin-bottom: 30px;
	}
	.shout-outs, .follow, .more-interviews {
		margin-bottom: 30px;
		text-align: center;
		h2 {
			font-size: 1.8em;
			margin: 45px auto 30px auto;
			max-width: 300px;
		}
	}
	.more-interviews {
		max-width: 720px;
		text-align: center;
		margin: 125px auto 0 auto;
		display: block;
		height: auto;
	}
	.social-links {
		ul {
			li {
				display: inline-block;
				max-width: 20px;
				margin: 0 10px;
				a {
					max-height: 20px;
					svg {
						vertical-align: top;
						position: relative;
					}
				}


			}
		}
	}

	.more-interviews {
		.single-related {
			padding: 0 5px;
		}
		ul {
			li {
				display: inline-block;
				a {
					img {
						width: 100%;
					}
				}
			}
		}
		.bottom-thumb {
			margin-bottom: 30px;
			h5 {
				font-size: 1.4em;
			}
		}
		h2 {
			margin-bottom: 30px;
		}
	}
}

.social-links {
	ul {
		li {
			display: inline-block;
			max-width: 20px;
			margin: 0 10px;
			font-size: 1.3em;
			a {
				max-height: 20px;
				vertical-align: top;
				position: relative;
			}
		}
	}
	svg {
		&:hover {
			path {
				fill: $yellow;
			}
		}
	}
}

.overlay-right-menu {
	color: $black;
	.overlay-contact {
		margin-top: 75px;
	}
    p {
		letter-spacing: 3px;
		font-size: 1.2em;
	}
	.social-links {
		// prob temp margins
	    margin-top: -40px;
    	margin-left: -10px;

		ul {
			background: transparent;
		}
		li {
			width: 30px;
			margin-right: 10px;
			display: inline-block;
		}
		svg {
			width: 15px;
			path {
				fill: $black;
			}
			&:hover {
				path {
					fill: $yellow;
				}
			}
		}
	}
}
				
/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

.footer-divider {
	margin: 30px 15px;
	border-bottom: 1px solid $dark-gray;
}

#menu-the-fam {
	
	svg {
		path {
			fill: $white;
		}
		polygon {
			fill: $white;
		}	
		&:hover {
			path {
				fill: $yellow;
			}
			polygon {
				fill: $yellow;
			}
		}	
	}
}

/* to prevent fixed video background from showing at bottom */
#inner-footer {
	padding: 5px 5px 40px 5px;
	.social-links {
		li {
			height: 12px;
		    width: 12px;
			margin-right: 20px;
			margin-left: 0px;
		}
		svg {
			height: 15px;
			width: 15px;
		}
	}
	h6 {
		margin-bottom: 20px;
		a {
			font-size: 0.8em;
		}
	}
	.mail-social {
		margin-top: 80px;
	}

	.fam-li {
		padding-bottom: 25px;
		svg {
			path, polygon {
				fill: $white;
			}
		}
		&:hover {
			svg {
				path, polygon {
					fill: $yellow;
				}
			}
		}	
	}
}

#fixed-footer {
	position: fixed;
	z-index: 400;
    bottom: 0;
    width: 100%;
    min-height: 45px;
    background: rgba(25, 25, 25, 0.6);
    .mailing-list {
    	display: none;
    }
	.footer-banner {
		padding-top: 15px;
		#dots-open {
			text-align: center;
			position: relative;
			z-index: 0;
			width: 100px;
			margin: 0 auto;
			.dot-single {
				height: 8px;
				border: 1px solid $white;
				border-radius: 4px;
				width: 8px;
				display: inline-block;
				margin: 0 5px;
			}
			&:hover {
				cursor: pointer;
				.dot-single {
					background: $white;
				}
			}
		}
		.slideshow-button {
			text-align: right;
			position: absolute;
			right: 40px;
			top: 14px;
			z-index: 100;
			img {
				opacity: 0.8;
				width: 15px;
				height: 15px;
				&:hover {
					opacity: 1.0;
					cursor: pointer;
				}
			}
		}
		.share-button {
			text-align: right;
			position: absolute;
			right: 10px;
			top: 14px;
			z-index: 100;
			img {
				opacity: 0.8;
				width: 15px;
				height: 15px;
				&:hover {
					opacity: 1.0;
					cursor: pointer;
				}
			}
		}
		.share-icons {
			display: none;
			position: fixed;
			z-index: 400;
			bottom: 45px;
			right: 0;
			// padding: 20px;
			background: rgba(0, 0, 0, 0.92) !important;
		}


	}

	#inner-footer {
		display: none;
	}
}

.footer-darker {
	background: rgba(25, 25, 25, 0.97) !important;
}
.footer {
	clear: both;
	background-color: $black;
	color: $light-gray;
	position: relative;
	z-index: 200;
	.inner-footer {
		border-top: 1px solid #333333;
	}
	.footer-wrap {
		width: 1300px;
	}
	h5 {
		font-size: 1.2em;
		letter-spacing: 3px;
		text-transform: uppercase;
		font-family: $header-serif;
		color: $yellow;
		margin-bottom: 0px;

	}
	h6 {
		margin-bottom: 0px !important;
		margin-top: 0px !important;
		color: $footer-gray;
		font-size: 20px;
	}

	.mailing-list {
		min-width: 100%;
		background: transparent;
		min-height: 100%;
		h5 {
			text-transform: uppercase;
			font-size: 2.4em;
			letter-spacing: 4px;
			margin-bottom: 0px;
			margin-top: 0px;
			color: $white;
		}
		h3 {
			margin-top: 0px;
		}
		form {
			margin-top: 30px;
			input {
				border-top: 1px solid $footer-gray;
				border-left: 1px solid $footer-gray;
				border-bottom: 1px solid $footer-gray;
				background: transparent;
				border-radius: 0px;
				text-transform: uppercase;
				color: $white;
				letter-spacing: 4px;
				font-size: 1.2em;
				font-family: $header-sans-serif;
				width: 100%;
				max-width: 300px;
				display: inline-block;
			}
			button {
				color: $footer-gray;
				background: $black;
				border-radius: 0px;
				border: 1px solid $footer-gray;
				position: relative;
				vertical-align: top;
				letter-spacing: 4px;
				height: 40px;
				width: 40px;
				background: url('../images/right-arrow-small.svg');
				background-repeat: no-repeat;
				background-position: center center;
				margin-left: -2px; 
				display: inline-block;
				/* for border placement next to input */

				&:hover {
					background: url('../images/right-arrow-small-dark.svg') $yellow;
					color: $black;
					background-repeat: no-repeat !important;
					background-position: center center !important;
				}
			}
		}
	}	
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {
				font-size: 1.2em;
				letter-spacing: 3px;
				text-transform: uppercase;
				font-family: $header-sans-serif;
				
				a {
					color: $dark-gray;
					padding: 0.75em 0;
					&:hover {
						background: transparent;
					}
				}
			}

		}

	} /* end .footer-links */


	.copyright {}
